

                                  /* BOX MODEL */
 
/* 
h2{
    background-color: rgb(244, 53, 53);
    color: rgb(241, 244, 242);
    border: 2px solid rgb(17, 18, 17);
    font-size: 200%; */

    

    /* padding : TOP  RIGHT  BOTTOM  LEFT; */
   /* margin : TOP  RIGHT  BOTTOM  LEFT; */

/* 
    padding-left: 20px;
    margin-left: 40px ;
    */  
    
/* }  */




                                     /* Block */
/* 
 .Displayincss1{

    display: block;
    background-color: rgb(243, 14, 14);
    color: white;
    height: 35px;
    width: 90px;

}

.Displayincss2{
    display: block;
    background-color: yellow;
    color: rgb(136, 0, 255);
    font-style: italic;
}  */



                                /* inline */


/*  
.Displayincss1{

    display: inline;
    background-color: rgb(243, 14, 14);
    color: white;  
    */


    /* height: 55px; 
     width: 90px;

    here height and width are useless if we use inline keyword
   
     */

/*  
}

.Displayincss2{
    display: inline;
    background-color: yellow;
    color: rgb(136, 0, 255);
    font-style: italic;

} */
 


                                  /* inline-block */
/* 
  .Displayincss1{

    display: inline-block;
    background-color: rgb(243, 14, 14);
    color: white;
     height: 35px;
    width: 90px;  
    
    */
    
    /* Here it work like inline but in inline we cannot use the height and width
    but in Inline-block we can use it */

    
/*  
}

.Displayincss2{
    display: inline-block;
    background-color: yellow;
    color: rgb(136, 0, 255);
    font-style: italic;
} 
    

*/

                         /* Position in CSS */
    

         /* 
         >> static position
          */
/*  
      .positionincss3{
     position: static;    
     background-color: black;
     color: white;
     border: 1px solid red;
     }  */
     
     


/* 
Relative position
*/

/* 
     .positionincss{
        position: relative ;   
        background-color: rgb(11, 147, 14);
        color: white;
        top: 100px;
        left: 20px;
        
        
        border: 3px solid red;
        }
        
        */













